body{
    background-color: grey;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo{
    width: 100px;
    height: 100px;
    position:fixed; 
    top:0; 
    left:0;
}
header{
    position:fixed; 
    top: 0;
    left: 950px;
    background-image: url(background.jpg);
  color: #ffffff;
  font-size: xx-large;
}
h1{
   font-size: medium;
}
h3{
    text-align: center;
    margin-top: 300px;
    font-size: xx-large;
    background: -webkit-linear-gradient(purple, indigo);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h5{
    text-align: right;
}
